<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for your order!</h1>
    <p>We will be in contact with you regarding your order. Feel free to contact us if you have any questions. </p>
  </body>
</html>